h1{
    color: red;
    background-color: rgb(9, 9, 152);
}

.h2{
    color: white;
    background-color: rgb(169, 13, 13);
    font-size: 20px;
}

div p{
    color: rgb(153, 34, 34);
    background-color: rgb(76, 8, 145);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#select{
    color: white;
    background-color: rgb(23, 244, 134);
    font-size: 20px;
}

h2,div,p{
    color: rgb(163, 104, 32);
    background-color: rgb(86, 5, 10);
    font-size: 20px;
}

div>p{
    color: rgb(138, 204, 16);
    background-color: rgb(9, 9, 152);
    font-size: 20px;
}


h1 + p{
    color: orange;
}
