h1{
    color: saddlebrown;
    background-color: rgb(9, 9, 152);
    background: rgb(190, 16, 206);
}

p{
    color: white;
    background-color: black;
    background: seagreen;
    font-size: 20px;
}

#select{
    color: white;
    background-color: rgb(32, 45, 187);
    background: seagreen;
    font-size: 20px;
}

.h2{
    color: white;
    background-color: rgb(169, 13, 13);
    background: rgb(134, 6, 115);
    font-size: 20px;
}

#d{
    color: white;
    background-color: rgb(9, 9, 152);
    background: rgb(190, 16, 206);
    font-size: 20px;

    hover{
        color: rgb(255, 255, 255);
        background-color: rgb(9, 9, 152);
        background: rgb(70, 16, 206);
        font-size: 20px;
    }

}


